/*******************************************************************************
*                                                                              *
* Borders                                                                      *
*                                                                              *
*******************************************************************************/
.border-transparent {
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 6;
}

.border-colored {
    -fx-border-color: -color-accent-fg;
    -fx-border-width: 2;
    -fx-border-radius: 6;
}

.border-colored-slim {
    -fx-border-width: 1px;
    -fx-border-color: -color-accent-fg;
    -fx-border-radius: 6px;
}

.border-colored-bold {
    -fx-border-width: 2px;
    -fx-border-color: -color-accent-fg;
    -fx-border-radius: 6px;
}

/*******************************************************************************
*                                                                              *
* Toast                                                                        *
*                                                                              *
*******************************************************************************/
.toast {
    -fx-font-size: 14;
    -fx-border-style: solid;
    -fx-border-width: 1.5;
    -fx-border-color: grey;
    -fx-border-radius: 8;
}

/*******************************************************************************
*                                                                              *
* DragNDropFiles                                                               *
*                                                                              *
*******************************************************************************/
.upload-box {
    -fx-border-width: 4;
    -fx-border-style: dashed;
    -fx-border-radius: 12;
}

.upload-box.inactive {
    -fx-border-color: grey;
}

.upload-box.active {
    -fx-border-color: -color-accent-fg;
}

/*******************************************************************************
*                                                                              *
* TextArea                                                                     *
*                                                                              *
*******************************************************************************/
.text-area-transparent .content {
    -fx-background-color: transparent;
}